*{
    font-size: 25px;
}
h1{
    font-size: 45px;
    font-family: 'Bungee', cursive;
    color:rgb(0, 0, 0);
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle, #fff4c1, #ffdabc, #ffc5ce, #eebce8, #b1bcf4);
}
button{
    border: 1px solid rgb(0, 0, 0);
    border-radius:6px;
    background-color: rgb(5, 7, 8);
    color:rgb(255, 255, 255);
    text-align: center;
    padding:16px;
    font-family: 'Bad Script', cursive;
}
input[type="text"]{
    padding: 16px;
    border-radius: 5px;
    border:1px solid black;
    font-family: 'Bad Script', cursive;
}
#task{
    display:flex;
    flex-direction: column;
    margin-top: 12px;
}
.task-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Bad Script', cursive;
}

:checked + label {
    text-decoration: line-through;
    color: rgb(228, 123, 123);

}